.landing-page-cartoon {
    position: fixed;
    top: 30%;
    height: 35vh;
    width: 100vw;
  }
  
  .landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #5174DF;
    height: 100vh;
    width: 100vw;
  }
  
  h1 {
    margin: 0;
    padding: 15px;
    align-self: center;
    background-color: #5174DF;
    width: 100vw;
    display: inline-block;
    padding-top: 20vh;
    color: white
  }
  
  .landing-page-text-and-button {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 40vh;
    color: white;
  }