.landing-page-cartoon {
    position: fixed;
    top: 30%;
    height: 35vh;
    width: 100vw;
  }
  
  .landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(0deg, rgb(65, 102, 216) 0%, rgb(85, 122, 224) 100%);
    height: 100vh;
    width: 100vw;
  }
  
  h1 {
    color: white;
    font-size: 3em;
    z-index: 100;
  }
  
  .landing-page-text-and-button {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2em;
    color: white;
    font-size: 1.2em;
  }

  .explore-button {
    text-decoration: none;
    background-color: #12CDD4;
    padding: 10px;
    border-radius: 5px;;
    color: white;
  }