.header-section {
  display: flex;
  height: 12vh;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}

.profile-image,
.back-button {
  background-color: transparent;
  height: 3em;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-image {
  background-image: url(/images/user.png);
  /* background-image: url(/Profile.png); */
  background-size: 3em;
  width: 3em;
}

.back-button {
  background-image: url(/images/BackArrow.png);
  background-size: 2.2em;
  width: 4em;
}

.header-text{
  font-size: 2em;
}

.header-text {
  text-decoration: none;
  color: black
}
