.individual-job {
  border: 1px solid green;
  flex-flow: column;
  display: flex;
  width: 22em;
  margin: 0 .5em 1em .5em;
}

.title-and-icon {
  display: flex;
  justify-content: space-around;
  margin-top: .4em;
}
