.Search-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: auto;
  padding: 10px;
}

.hamburger-menu {
  background-image: url(/Hamburger.png);
  background-color: transparent;
  width: 3em;
  height: 3em;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3em;
}

.search-box {
  height: auto;
  width: 15em;
  border-radius: .3em;
}

.slider-sec {
  width: 80vw;
}

.search-box-button-sec {
  display: flex;
  align-content: center;
}

.active {
  color: white;
  background: #8FD14E;
  border-radius: 7px;
  width: fit-content;
  font-size: 1em;
  margin: 0.4em 0em;
}

.fav-display {
  font-size:1em;
  margin:0.4em 0em;
}
