@import url('https://fonts.googleapis.com/css?family=Itim');

body {
  margin: 0;
  font-family: Itim;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Itim;
}

html {
  height: 100%;
  width: 100vw;
}